.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
table{
  background-color: black;
  color: white;
  width: 50%;
  text-align: center;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 1px solid black;
}
.tdd{
  background-color: #cfe2f3;
  color: black;
  border: 1px solid;
  text-align: center;
}
td{
  background-color: rgba(53, 162, 235, 0.5);
  color: black;
  border: 1px solid;
  text-align: center;

}
th{
  background-color: #0b2744;
  color: white;
}
button{
  margin-top: 50px;
  margin-bottom: 50px;
}
.csv{
  
  overflow-y: scroll;
  height: 500px;
  width: 100%;
  margin-top: 10px;
  padding-bottom: 10px;
}

tr:nth-child(even) {
  background-color: rgb(255, 219, 225);
}
tr:nth-child(odd) {
  background-color: white;
}

tr{
  border-top: 1px solid black;
}

.load{
  margin-left: -120px;
  margin-right: 120px;
}

canvas{
  margin-left: 150px;
  margin-right: 100px;
}

.Bar{
  text-align: center;
  font-size: 250%;
  color: rgba(53, 162, 235, 0.5);
  padding-top: 30px;
  padding-bottom: 130px;
  width: 1500px;
  height: 1500px;
  margin-left: 11%;
}
.bot{
  margin-left: 45.5%;
  width: 180px;
  height: 50px;
}
.cont{
  text-align: center;
  font-size: 250%;
  color: rgba(53, 162, 235, 0.5);
}